.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-font{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.text-opacity{
  opacity: 0.5;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}


